*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #e2e2e2;
    height: auto;
}
.container
{
    display: grid;
    grid-template-areas: 'navbar1 '
    'navbar2 '
    'image'
    'section'
    'footer';
    height: 100vh;
}
#footer
{
    grid-area: footer;
    background-color:  #232f3e;
    height: 20rem;
}
#section
{
    grid-area: section;
    z-index: 2;
    transform: translateY(-280px);

}
.container2
{
    margin: 20px;
    display: grid;
    /* grid-template-rows: 0.7fr 1fr 1fr 1fr; */
    gap: 20px;
    grid-template-areas: 'header header header header'
    'box1 box2 box3 box4'
    ;


  
}
#image
{
    grid-area: image;
}
#header
{
    background-color: white;
    grid-area: header;
    text-align: center;
    padding: 10px;
    
}
a{
    text-decoration: none;
}
#box1 
{
    padding-top:25px ;
    grid-area: box1;
    display: grid;
        width: auto;
        grid-template-areas: 'img1 img2'
        'img3 img4';
        text-align: center;
    
}
#box2
{
    padding-top:25px ;
    grid-area: box2;
    display: grid;
    width: auto;
    grid-template-areas: 'img1 img2'
    'img3 img4';
    text-align: center;
}
#box3
{
    padding-top:25px ;
    grid-area: box3;
    display: grid;
    width: auto;
    grid-template-areas: 'img1 img2'
    'img3 img4';
    text-align: center;
}
#box4
{
    padding-top:25px ;
    grid-area: box4;
    display: grid;
    width: auto;
    grid-template-areas: 'img1 img2'
    'img3 img4';
    text-align: center;
}
.item2{
    height: 20rem;
    background-color: white;
}
#img1
{
    grid-area: img1;
}
#img2
{
    grid-area: img2;
}
#img3
{
    grid-area: img3;
}
#img4
{
    grid-area: img4;
}
#navbar1
{
    grid-area: navbar1;
    height: 60px;
    background-color: rgb(15, 17, 17);
    display: flex;
}
#navbar2
{
    background-color: #232F3E;
    grid-area: navbar2;
    height: 40px;  
   display: flex;
}
.links  
{
    color: white;
    margin: 10px 15px;
}
table
{
    width: 100%;
    padding-top: 30px;
}
td
{
    
    text-align: center;
    padding-top: 15px;
}
